/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*==========Reset==========*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

/*==========Root==========*/
:root {

    --bg-color: hsl(233, 23%, 85%);
    --blue-color: hsl(202, 74%, 52%);
    --dark-color: hsla(0, 0%, 13%, 0.884);
    --white-color: hsl(0, 0%, 100%);
    --shadow: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
    --shadow1: 5px 5px 5px hsla(0, 0%, 0%, 0.1), 10px 10px 10px hsla(0, 0%, 0%, 0.1), 20px 20px 7px hsla(0, 0%, 0%, 0.075), 50px 50px 80px hsla(0, 0%, 0%, 0.25), inset 2px 2px 10px hsl(0, 0%, 100%);

}

/*==========Base==========*/
body {
    background: var(--bg-color);
    color: var(--dark-color);
}

/*==========Player==========*/
.player__container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: 100svh;
}
.wrapper {
    position: relative;
    width: 320px;
    background: var(--bg-color);
    box-shadow: var(--shadow1);
    border-radius: 1rem;
    padding: 1rem;
    overflow: hidden;
}
.wrapper i {
    cursor: pointer;
}
.top__bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block-end: 1rem;
}
.top__bar .listening {
    color: var(--white-color);
    font-size: 1.1rem;
    font-weight: 300;
    letter-spacing: 2px;
}
.top__bar .listening i {
    font-size: 1rem;
    color: var(--white-color);
}
.box__image {
    width: 100%;
    height: 110px;
    overflow: hidden;
    text-align: center;
}
.box__image img {
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: var(--shadow);
    border: 2px solid var(--white-color);
}
.song__details {
    text-align: center;
    margin: .8rem 0;
}
.song__details .music__name {
    font-weight: 300;
    margin-block-end: .4rem;
    color: var(--white-color);
}
.song__details .artist__name {
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--white-color);
}
.progress__content {
    width: 100%;
    height: .4rem;
    background: hsla(202, 74%, 52%, 0.11);
    border-radius: 1rem;
    cursor: default;
    margin-block-start: 2rem;
    margin-block-end: 3rem;
}
.progress__content .progress__bar {
    position: relative;
    width: 0;
    height: inherit;
    border-radius: inherit;
    background: var(--blue-color);
}
.progress__bar, .song__duration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-block-start: .3rem;
}
.song__duration .current {
    font-weight: 200;
}
.player__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.player__controls i {
    font-size: 1.5rem;
    color: var(--white-color);
    user-select: none;
    padding: 0;
}
.player__controls i:nth-child(2), .player__controls i:nth-child(4) {
    font-size: 2rem;
}
.player__controls .play__pause i {
    font-size: 2.2rem;
    cursor: pointer;
}

